table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
  visibility: visible;
}

table,th,tr,td {
  border: 1px solid black;
}

input{
  box-sizing: border-box;
  width: 100%;
}

input[type="submit"]{
  background-color: #4ad613;
  color: white;
}