@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
.nameHdr {
  width: 25%;
}

.descHdr {
  width: 40%;
}

.locHdr, .optHdr {
  width: auto;
}

.removeBtn, #cancelBtn {
  background-color: #ff0000;
  color: white;
  width: 49%;
}

.editBtn, #saveBtn {
  background-color: #4a4f55;
  color: white;
  width: 49%;
}

#addSvcBtn {
  background-color: #4ad613;
  box-sizing: border-box;
  color: white;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 900px;
  visibility: visible;
  padding: 10px;
}

th {
  background-color: #57068c;
  color: #FFF;
  text-align: left;
}

th, td {
  padding: 7px;
  padding-left: 20px;
  vertical-align: top;
  word-wrap: break-word;
}

tr:nth-child(odd) {
  background-color: #e2e1dd;
}

tr:hover {
  background-color: #b5ada6;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 7px;
  width: 100%;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  padding: 7px;
}

#edit-popup-overlay {
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128,128,128,0.5);
  display: none;
}

#edit-popup {
  width: 50%;
  height: auto;
  padding: 15px;
  background: white;
  border: 1px solid grey;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}

#edit-popup-contents, #edit-popup-contents input{
  margin-bottom: 10px;
}